body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: Arial, sans-serif;
}

header {
    text-align: center;
    padding: 20px;
    background-color: #333;
    color: white;
}

#threejs-container {
    position: relative;
}

#info {
    position: absolute;
    top: 10px;
    left: 10px;
    color: white;
}

#content {
    padding: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

h2 {
    border-bottom: 2px solid #333;
    padding-bottom: 5px;
    margin-bottom: 10px;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
}

nav {
    background-color: #333;
    overflow: hidden;
    display: flex;
    justify-content: center;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav li {
    float: left;
    display: block;
    padding: 20px;
    text-align: center;
}

nav a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}