<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jack Sanders</title>
    <link rel="stylesheet" href="../static/css/index.css">
    <script src="https://kit.fontawesome.com/c13a122361.js" crossorigin="anonymous"></script>
</head>
<body>
    <div id="site">
        <header>
            <h1>Jack Dylan Sanders</h1>
            <p>Developer and Researcher </p>
        </header>
        <div class="social-links">
            <a href="https://github.com/SandersJack" target="_blank" class="social-button"><i class="fa fa-github" style="font-size:36px"></i></a>
            <a href="https://www.linkedin.com/in/jackdsanders/" target="_blank" class="social-button"><i class="fa fa-linkedin" aria-hidden="true" style="font-size:36px"></i></a>
        </div>
        <nav>
            <ul>
                <li><a href="index.html">Home</a></li>
                <li><a href="projects.html">Projects</a></li>
                <li><a href="#">Contact</a></li>
            </ul>
        </nav>

        <div id="content">
            <div id="education">
                <h2>Education</h2>
                <ul id="list-list">
                    <li id="list-item">
                        <h3>The Univeristy of Birmingham</h3>
                        <div class="edu-info">
                            <p>Experimental Particle Physics PhD</p>
                            <p>Graduation Year: 2025</p>
                        </div>
                        <div class="edu-desc">
                            <p>
                                During my time as a PhD student I have been working with the NA62 collaboration working as a Software developer, Data Analyst and Researcher. 
                                I have been a significant contributor to number of projects such as the refactoring of the NA62 Framwork, which is a C++ code base used for the 
                                Monte Carlo simulation of the NA62 detector and the reconstruction of NA62 data. The refactoring involved upgrading the simulation to be more flexible, 
                                allowing usesers to more freely design and implement new detectors. This was extensivly used for the HIKE Letter of Intent which can be found
                                <a href="https://inspirehep.net/literature/2605876">here</a>.
                            </p>   
                            <p>
                                I went on a long term attachement, where I spent 6 months at CERN. During this time I was directly involved in the installation of the new 
                                CEDAR-H detector. I was the detector expert for the CEDAR/KTAG and was also an expert for the PC farm.
                            </p> 
                        </div>
                    </li>.
                    <li id="list-item">
                        <h3>The Univeristy of Birmingham</h3>
                        <div class="edu-info">
                            <p>Physics MSci</p>
                            <p>Graduation Year: 2021</p>
                        </div>
                        <div class="edu-desc"></div>
                    </li>
                </ul>
            </div>
            <div id="publications">
                <h2>Publications</h2>
                <ul class="pub-list">
                    <li class="pub-item JINST">
                        <div class="JINST_title">
                            <h3 >A new hydrogen-filled Cherenkov detector for Kaon tagging at the NA62 experiment at CERN </h3>
                        </div>
                        <div class="info-pub">
                            <p>Published 2024 To JINST. Main Author</p>
                            <p>ARXIV: <a href="https://arxiv.org/abs/2401.09876" target="_blank">2401.09876</a></p>   
                        </div>
                        <div class="abstract JINST_ab">
                            <p>The precision measurement of K+→π+νν at the NA62 experiment requires a kaon identification detector to have a time resolution better than 100ps, at least 95% kaon 
                                identification efficiency, and a pion misidentification probability of less than 10−4. Since the start of NA62 data taking in 2016, kaon identification has been performed 
                                by a differential Cherenkov with achromatic ring focus (CEDAR) detector with a nitrogen gas radiator. A new CEDAR using hydrogen (CEDAR-H) as a radiator gas has been developed 
                                to reduce the material in the beamline, reducing the beam particle scattering within the detector. CEDAR-H was validated during a two-week test beam at CERN in 2022 and was 
                                approved by the NA62 collaboration for use in data taking from 2023. The test beam results, installation and commissioning in the NA62 beamline are reported. 
                            </p>
                        </div>
                    </li>
                    <li class="pub-item JINST">
                        <div class="JINST_title">
                            <h3>Development of a new CEDAR for kaon identification at the NA62 experiment at CERN </h3>
                        </div>
                        <div class="info-pub">
                            <p>Published 2024 To JINST. Corresponding Author</p>
                            <p>ARXIV: <a href="https://arxiv.org/abs/2312.17188" target="_blank">2312.17188</a></p>
                        </div>
                        <div class="abstract JINST_ab">
                            <p>
                                The NA62 experiment at CERN utilises a differential Cherenkov counter with achromatic ring focus (CEDAR) for tagging kaons within an unseparated monochromatic beam of charged 
                                hadrons. The CEDAR-H detector was developed to minimise the amount of material in the path of the beam by using hydrogen gas as the radiator medium. The detector was shown to 
                                satisfy the kaon tagging requirements in a test-beam before installation and commissioning at the experiment. The CEDAR-H performance was measured using NA62 data collected in 
                                2023. 
                            </p>
                        </div>
                    </li>
                    <li class="pub-item NIM">
                        <div class="NIM_title">
                            <h3>Neutron spectroscopy with a high-pressure nitrogen-filled spherical proportional counter</h3>
                        </div>
                        <div class="info-pub">
                            <p>Published 2023 To NIM. Author</p>
                            <p>ARXIV: <a href="https://arxiv.org/abs/2206.04331" target="_blank">2206.04331</a></p>
                        </div>
                        <div class="abstract NIM_ab">
                            <p>
                                The spherical proportional counter is a large volume gaseous detector which finds application in several fields, including direct Dark Matter searches. When the detector is filled 
                                with nitrogen it becomes an effective neutron spectrometer thanks to the 14N(n,)11B and 14N(n,p)14C reactions. Nitrogen, however, is a challenging operating gas for proportional 
                                counters and requires a high electric field strength to gas pressure ratio. Benefiting from the latest advances in spherical proportional counter instrumentation and simulation 
                                techniques, we report first neutron measurements at operating pressures of up to 1.8 bar. This achievement enhances the prospects of the spherical proportional counter to act as 
                                a neutron spectrometer appropriate for challenging environments, including underground laboratories, and industrial and medical settings.
                            </p>
                        </div>
                    </li>
                    <!-- Add more education entries as needed -->
                </ul>
            </div>
            <h2>Work Experience</h2>
            <ul id="list-list">
                <li id="list-item">
                    <h3>The Univeristy of Birmingham</h3>
                    <p>Postgraduate Teaching Assistant</p>
                    <p>Duration: Part-time 2021-2025</p>
                    <p>
                        During my time as a PhD student, I carried out a number of duties as a Postgraduate Teaching Assistant. 
                        I was a Year 2 Lab demonstrator where I mainly was involved in electronics and codeing projects with students. 
                        During this time I was also a marker for Year 2 Physics Problem sheets.
                    </p>
                </li>
                <li id="list-item">
                    <h3>NEWS-G</h3>
                    <p>Summer Studentship</p>
                    <p>Duration: Summer 2021</p>
                    <p>
                        Analysing a detailed simulation of the interactions of neutrons with a spherical proportional counter and comparing this with the
                        experimental data produced using the detector installed at the Univeristy of Birmingham
                    </p>
                </li>
                <li id="list-item">
                    <h3>ARUP</h3>
                    <p>Vacation Placement</p>
                    <p>Duration: Summer 2017,2018,2019</p>
                    <p>
                        Working within the Highways and Bridges team in Cardiff, I worked over mutiple summers on several large scale infrastructure projects.
                        Projects such as the A40 dual carriageway upgrade in Pembrookshire where I was involved in the public consultation and the M4/A470 study in Cardiff where 
                        I conducted a study using traffic data to design a set of new junctions to improve traffic flow. 
                    </p>
                </li>
                <!-- Add more work entries as needed -->
            </ul>
        </div>
        <footer>
            
        </footer>
        <!--<div id="threejs-container"></div>-->
        <script defer type="module" src="../static/js/index.js"></script> 
    </div>
</body>
