<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jack Sanders</title>
    <link rel="stylesheet" href="../static/css/index.css">
    <link rel="stylesheet" href="../static/css/projects.css">
    <script src="https://kit.fontawesome.com/c13a122361.js" crossorigin="anonymous"></script>
</head>
<body>
    <div id="site">
        <header>
            <h1>Jack Dylan Sanders</h1>
            <p>Developer and Researcher </p>
        </header>
        <div class="social-links">
            <a href="https://github.com/SandersJack" target="_blank" class="social-button"><i class="fa fa-github" style="font-size:36px"></i></a>
            <a href="https://www.linkedin.com/in/jackdsanders/" target="_blank" class="social-button"><i class="fa fa-linkedin" aria-hidden="true" style="font-size:36px"></i></a>
        </div>
        <nav>
            <ul>
                <li><a href="index.html">Home</a></li>
                <li><a href="projects.html">Projects</a></li>
                <li><a href="contact.html">Contact</a></li>
            </ul>
        </nav>
        <div id="content">
            <div class="tile-legend-container">
                <div class="project-tile-legend work-project-legend">WORK PROJECTS</div>
                <div class="project-tile-legend own-project-legend">PERSONAL PROJECTS</div>    
            </div>
            <div class="tile-container">
                <a onclick="openModal('Flexible Framework')" class="project-tile work-project">
                    <!-- Project content goes here -->
                    <h2>Flexible NA62FW</h2>
                    <p id="small-info">I upgraded the NA62 Software to allow more flexibilty.</p>
                    <div>
                        <h3>Skills</h3>
                        <div>
                            <img class="custom-icon" src="../static/icons/cplusplus.svg" alt="C++ Icon">
                        </div>
                    </div>
                </a>
                <a onclick="openModal('Slim MC')" class="project-tile work-project">
                    <!-- Project content goes here -->
                    <h2>Slim MC</h2>
                    <p id="small-info">Using data types and compression functions to reduce Monte Carlo file size.</p>
                    <div>
                        <h3>Skills</h3>
                        <div>
                            <img class="custom-icon" src="../static/icons/cplusplus.svg" alt="C++ Icon">
                        </div>
                    </div>
                </a>
                <a onclick="openModal('My Analysis')" class="project-tile work-project">
                    <!-- Project content goes here -->
                    <h2>My Analysis</h2>
                    <p id="small-info">The search for dark photons at NA62.</p>
                    <div>
                        <h3>Skills</h3>
                        <div>
                            <img class="custom-icon" src="../static/icons/cplusplus.svg" alt="C++ Icon">
                            <i class="fa-brands fa-python" style="font-size: 20px;"></i>
                        </div>
                    </div>
                </a>
            </div>
            <div class="tile-container">
                <a onclick="openModal('This Site!')" class="project-tile own-project">
                    <!-- Project content goes here -->
                    <h2>This Site!</h2>
                    <p id="small-info">I have tried to make a simple, well designed digital CV with projects that I have created over the years.</p>
                    <div>
                        <h3>Skills</h3>
                        <div>
                            <i class="fa fa-html5" style="font-size: 20px;"></i>
                            <i class="fa fa-css3" style="font-size: 20px;"></i>
                            <i class="fa-brands fa-js" style="font-size: 20px;"></i>
                            <i class='fab fa-docker' style="font-size: 20px;"></i>
                        </div>
                    </div>
                </a>

                <a onclick="openModal('PlaceGuesser')" class="project-tile own-project">
                    <!-- Project content goes here -->
                    <h2>Place Guesser</h2>
                    <p id="small-info">This is a game I created based off the popular GeoGuesser game.</p>
                    <div>
                        <h3>Skills</h3>
                        <div>
                            <i class="fa fa-html5" style="font-size: 20px;"></i>
                            <i class="fa fa-css3" style="font-size: 20px;"></i>
                            <i class="fa-brands fa-js" style="font-size: 20px;"></i>
                            <i class="fa-brands fa-python" style="font-size: 20px;"></i>
                            <i class="fa-solid fa-database" style="font-size: 20px;"></i>
                            <img class="custom-icon" src="../static/icons/api.svg" alt="C++ Icon">
                            <i class='fab fa-docker' style="font-size: 20px;"></i>
                        </div>
                    </div>
                </a>
        
                <a onclick="openModal('Pico Projects')" class="project-tile own-project">
                    <!-- Project content goes here -->
                    <h2>Embeded Pico Projects</h2>
                    <p id="small-info">A group of projects working with the RaspberryPi Pico, such as home automation and monitoring.</p>
                    <div>
                        <h3>Skills</h3>
                        <div>
                            <i class="fa-solid fa-c" style="font-size: 20px;"></i>
                            <i class="fa-brands fa-python" style="font-size: 20px;"></i>
                            <i class="fa-solid fa-database" style="font-size: 20px;"></i>
                            <i class='fab fa-docker' style="font-size: 20px;"></i>
                        </div>
                    </div>
                </a>
                <div id="modal-overlay" class="modal-overlay" onclick="closeModal()"></div>
                    <div id="modal" class="modal">
                        <span class="close-btn" onclick="closeModal()">&times;</span>
                        <h2 id="modal-title"></h2>
                        <div class="model-content" id="model-content"></div>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
    <footer>   
    </footer>
    <script src="../static/js/projects.js"></script>
</body>