<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jack Sanders</title>
    <link rel="stylesheet" href="../static/css/index.css">
    <link rel="stylesheet" href="../static/css/projects.css">
    <script src="https://kit.fontawesome.com/c13a122361.js" crossorigin="anonymous"></script>
</head>
<body>
    <div id="site">
        <header>
            <h1>Jack Dylan Sanders</h1>
            <p>Developer and Researcher </p>
        </header>
        <div class="social-links">
            <a href="https://github.com/SandersJack" target="_blank" class="social-button"><i class="fa fa-github" style="font-size:36px"></i></a>
            <a href="https://www.linkedin.com/in/jackdsanders/" target="_blank" class="social-button"><i class="fa fa-linkedin" aria-hidden="true" style="font-size:36px"></i></a>
        </div>
        <nav>
            <ul>
                <li><a href="index.html">Home</a></li>
                <li><a href="projects.html">Projects</a></li>
                <li><a href="#">Contact</a></li>
            </ul>
        </nav>
        <div id="content">
            <div class="tile-container">
                <a onclick="openModal('Project1', 'Project Description')" class="project-tile">
                    <!-- Project content goes here -->
                    <h2>This Site!</h2>
                    <p>I have tried to make a simple, well designed digital CV with projects that I have created over the years.</p>
                    <div>
                        <h3>Skills</h3>
                        <div>
                            <i class="fa fa-html5" style="font-size: 20px;"></i>
                            <i class="fa fa-css3" style="font-size: 20px;"></i>
                            <i class='fab fa-docker' style="font-size: 20px;"></i>
                        </div>
                    </div>
                </a>

                <a onclick="openModal('Project2', 'Project Description')" class="project-tile">
                    <!-- Project content goes here -->
                    <h2>PlaceGuesser</h2>
                    <p>This is a game I created based off the popular GeoGuesser game.</p>
                    <div>
                        <h3>Skills</h3>
                        <div>
                            <i class="fa fa-html5" style="font-size: 20px;"></i>
                            <i class="fa fa-css3" style="font-size: 20px;"></i>
                            <i class="fa-brands fa-js" style="font-size: 20px;"></i>
                            <i class="fa-brands fa-python" style="font-size: 20px;"></i>
                            <i class="fa-solid fa-database" style="font-size: 20px;"></i>
                            <i class="fa-solid fa-gear" style="font-size: 20px;"></i>
                            <i class='fab fa-docker' style="font-size: 20px;"></i>
                        </div>
                    </div>
                </a>
        
                <a onclick="openModal('Project3', 'Project Description')" class="project-tile">
                    <!-- Project content goes here -->
                    <h2>Embeded Pico Projects</h2>
                    <p>A group of projects working with the RaspberryPi Pico, such as home automation and monitoring.</p>
                    <div>
                        <h3>Skills</h3>
                        <div>
                            <i class="fa-solid fa-c" style="font-size: 20px;"></i>
                            <i class="fa-brands fa-python" style="font-size: 20px;"></i>
                            <i class="fa-solid fa-database" style="font-size: 20px;"></i>
                            <i class='fab fa-docker' style="font-size: 20px;"></i>
                        </div>
                    </div>
                </a>
                <div id="modal-overlay" class="modal-overlay" onclick="closeModal()"></div>
                    <div id="modal" class="modal">
                        <span class="close-btn" onclick="closeModal()">&times;</span>
                        <h2 id="modal-title"></h2>
                        <p id="modal-description"></p>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
    <footer>   
    </footer>
    <script src="../static/js/projects.js"></script>
</body>